<div class="wrapper">
  <h1 class="text-center"><%= @friend.username %></h1>
  
  <hr class="divider" />
  
  <div class="list-group">
    <div class="list-group-item">
      <p class="list-group-item-text">Location: <%= @friend.city %>, <%= @friend.state %></p>
    </div>
  </div>
</div>
