---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/following?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"fc94a5df8c3c15cb79ca89e446e7a56f"
      Status:
      - 200 OK
      Strava-Athlete-Following-Version:
      - 899008bbc0561ecb6b1da9481769dc37/1486261894555
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,14'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":855493061,"resource_state":2,"external_id":"C6E192C0-EDB9-4D75-8AEE-499288143E05","upload_id":947087332,"athlete":{"id":581446,"username":"robbie_smith","resource_state":2,"firstname":"Robbie","lastname":"S","city":"Denver","state":"CO","country":"United
        States","sex":"M","premium":false,"created_at":"2012-06-01T21:13:02Z","updated_at":"2017-02-05T00:21:19Z","badge_type_id":0,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/581446/4472655/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/581446/4472655/2/large.jpg","friend":"accepted","follower":"accepted"},"name":"Afternoon
        Ride","distance":7925.2,"moving_time":1501,"elapsed_time":2808,"total_elevation_gain":81.0,"type":"Ride","start_date":"2017-02-05T00:25:00Z","start_date_local":"2017-02-04T17:25:00Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.75,-105.0],"end_latlng":[39.77,-105.05],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.75,"start_longitude":-105.0,"achievement_count":1,"kudos_count":1,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a855493061","summary_polyline":"i|rqFvbz_SoCwAkAzCfI~MeE|IaDzBjK_MhIvKbDaBRjBoDlBmZ`e@kEZv@nC_DlAh@`BsE|BeJiMkN`Rwc@PAjkEmDR","resource_state":2},"trainer":false,"commute":true,"manual":false,"private":false,"flagged":false,"gear_id":"b193171","average_speed":5.28,"max_speed":10.6,"average_watts":113.1,"kilojoules":169.7,"device_watts":false,"has_heartrate":false,"elev_high":1658.0,"elev_low":1576.6,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"workout_type":10},{"id":855400319,"resource_state":2,"external_id":"2B27190A-8113-44BC-803B-6E4B8AA4FE9D","upload_id":946973083,"athlete":{"id":19613252,"username":"kyle_heppenstall","resource_state":2,"firstname":"Kyle","lastname":"Heppenstall","city":"Denver","state":"CO","country":null,"sex":"M","premium":false,"created_at":"2017-01-28T01:18:05Z","updated_at":"2017-02-04T22:58:22Z","badge_type_id":0,"profile_medium":"https://lh4.googleusercontent.com/-wnhin8q_RaY/AAAAAAAAAAI/AAAAAAAAAV0/9CY9vX2eFRA/photo.j[...]
