---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/9685944/stats?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"cb058c25b298c29ee0c918606342404a"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '3,3'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":12944.5,"biggest_climb_elevation_gain":null,"recent_ride_totals":{"count":3,"distance":38722.30078125,"moving_time":5194,"elapsed_time":5626,"elevation_gain":167.0,"achievement_count":8},"recent_run_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":3,"distance":38723,"moving_time":5194,"elapsed_time":5626,"elevation_gain":167},"ytd_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":3,"distance":38723,"moving_time":5194,"elapsed_time":5626,"elevation_gain":167},"all_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Thu, 02 Feb 2017 02:52:52 GMT
recorded_with: VCR 3.0.3
