---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"75fbf8f61a2380015bf2ccadc0215d8c"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 5fa08ba893851ba675ea94556f7b302f
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '4,222'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":851250245,"resource_state":2,"external_id":"file.fit","upload_id":942509809,"athlete":{"id":9685944,"resource_state":1},"name":"Morning
        Ride","distance":12904.9,"moving_time":1659,"elapsed_time":1797,"total_elevation_gain":21.0,"type":"Ride","start_date":"2017-01-31T14:45:34Z","start_date_local":"2017-01-31T07:45:34Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.708405,-105.087577],"end_latlng":[39.75132,-104.995809],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.708405,"start_longitude":-105.087577,"achievement_count":8,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a851250245","summary_polyline":"opjqFj|k`SPdCoAvBwLIcAyHoTNe@eFkUSOgpCu[mAD{d@kEqAl@oiAkCu@DodAk\\i@c@sOm`@C_@eLsAi@QqDkFiIa@mFeJkQ{A}NaWaHWeCmIwCq]kBqX}`@_C_FrE{A~Zid@hDqBiA_EgUoYjBo@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":true,"flagged":false,"gear_id":null,"average_speed":7.779,"max_speed":13.5,"average_temp":10.0,"device_watts":false,"has_heartrate":true,"average_heartrate":147.1,"max_heartrate":172.0,"elev_high":1701.0,"elev_low":1567.0,"pr_count":4,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":849984063,"resource_state":2,"external_id":"file.fit","upload_id":941124892,"athlete":{"id":9685944,"resource_state":1},"name":"Afternoon
        Ride","distance":12872.9,"moving_time":1852,"elapsed_time":2146,"total_elevation_gain":118.0,"type":"Ride","start_date":"2017-01-31T00:04:24Z","start_date_local":"2017-01-30T17:04:24Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.751716,-104.995757],"end_latlng":[39.708491,-105.087546],"location_c[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/849984063?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a08ed697c709c9283e243b4e55e25394"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '5,223'
    body:
      encoding: ASCII-8BIT
      string: '{"id":849984063,"resource_state":3,"external_id":"file.fit","upload_id":941124892,"athlete":{"id":9685944,"resource_state":1},"name":"Afternoon
        Ride","distance":12872.9,"moving_time":1852,"elapsed_time":2146,"total_elevation_gain":118.0,"type":"Ride","start_date":"2017-01-31T00:04:24Z","start_date_local":"2017-01-30T17:04:24Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.751716,-104.995757],"end_latlng":[39.708491,-105.087546],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.751716,"start_longitude":-104.995757,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a849984063","polyline":"e_sqFn~y_SE^k@~@k@n@WXOZG^?\\DXFTPZ\\\\|@n@v@r@pAdBr@x@lBlClAxAh@|@L`@C\\QNSNa@f@MVe@h@gA~Ac@f@?b@|@xA^x@b@p@Zn@JVE`@MRm@n@q@`@YLYZmA~@UXM`@SX{@dAo@bAg@f@{BhDoAfBo@dAUNUFq@BUBSHUTE\\J\\FJ|@nABX|@lAVVXNXTp@v@|AvBhAlB`B`C~@`Ad@r@pBlD|@rAN\\J`@PfAN`@TXXRt@Zv@Pj@BnD@fALzAX~@H\\AfAMZ?L@r@P\\BhDD\\@\\FzBn@XLl@`@`Af@p@NXXAt@EZBXPHtAPzC|@bEdAt@Hv@NvBp@rA|@P^Bd@PdAEfABPDP^hADZ@fBF`@L`@PZ`AjANZLb@RfAL`@PVXFXLNZN|@Rd@b@|@PXPRHX?p@NpBH^JZZn@\\h@VfA\\|@RVbAd@PPLVD\\ArA@b@FXJNPFh@BLP@\\@tAHt@FV?zBBdAHXRJVBpDAhA@z@Fd@ExAClICrF@PF@TClC@jCCzB@`@Fp@NPRDH@fCEjBBtACdDAjCFpF?ZBLXIt@CzB@lEEhBAtH@bEA`EA|BEb@FpAC\\@zCExB@bNFZVDv@?XBRREfACtBA|JEhE?hEEtE@|DElG?pA?h@MNEnAD`D@`IB^PTt@BtAAVBPRGnEBdBAhDDhDCjIBlCC`CBTZJX@~ABpNCrAB|@A~ADLJ?bCDrC@bGAbFDlPAvC?nFDpBCvCDfBGxJBdAAlCBlAChHBpBAjC@xDApBGd@CbAL|FA`H@zEF~CL`@\\F\\@t@CfB?jAClK@TJDVC~BB^FLPRTBhCBtAC|ABvCE^CPBlCHRLJXD^HvB?fAHNRD|A?n@AfGBZCVSCi@F_@TKXAPMA]SkBIM[DHLR?UK","resource_state":3,"summary_polyline":"e_sqFn~y_SeCdEDlB~OdSkFnHbDrIwTnXcD|A`StXlFjLd`@jDvHvCf@nCnV~GzAfNbJlQn@xFfFfILnDtAl@b@|Kd`@Jf@xOt\\d@YpdAdCx@g@phAjEnA?zf@f[`@V|oC`Ud@jAhFtSFlA|GpLA|AyBs@oC"},"trainer":false,"commute":false,"manual":false,"private":true,"flagged":false,"gear_id":null,"average_speed":6.951,"max_speed":13.4,"average_temp":17.0,"device_watts":false,"has_heartrate":true,"average_heartrate":153.5,"max_heartrate":173.0,"elev_high":1688.0,"elev_low":1583.0,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"workout_type":null,"description":null,"calories":0,"segment_efforts":[{"id":20719150805,"resource_state":2,"name":"Last
        Chance!","activity":{"id":849984063,"resource_state":1},"athlete":{"id":9685944,"resource_state":1},"elapsed_time":58,"moving_time":58,"start_date":"2017-01-31T00:07:50Z","start_date_local":"2017-01-30T17:07:50Z","distance":461.6,"start_index":206,"end_index":264,"device_watts":false,"average_heartrate":151.6,"max_heartrate":154.0,"segment":{"id":7509812,"resource_state":2,"name":"Last
        Chance!","activity_type":"Ride","distance":463.7,"average_grade":0.0,"maximum_grade":5.2,"elevation_high":1580.0,"elevation_low":1576.1,"start_latlng":[39.750633,-105.00442],"end_latlng":[39.753636,-105.008088],"start_latitude":39.750633,"start_longitude":-105.00442,"end_latitude":39.753636,"end_longitude":-105.008088,"climb_category":0,"city":"Denver","state":"CO","country":"United
        States","private":false,"hazardous":false,"starred":false},"kom_rank":null,"pr_rank":null,"achievements":[],"hidden":false},{"id":20719150807,"resource_state":2,"name":"South
        Platte - Confluence to 25","activity":{"id":849984063,"resource_state":1},"athlete":{"id":9685944,"resource_state":1},"elapsed_time":158,"moving_time":158,"start_date":"2017-01-31T00:09:29Z","start_date_local":"2017-01-30T17:09:29Z","distance":1293.0,"start_index":305,"end_index":463,"device_watts":false,"average_heartrate":150.9,"max_heartrate":155.0,"segment":{"id":1324074,"resource_state":2,"name":"South
        Platte - Conflu[...]
