---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"75fbf8f61a2380015bf2ccadc0215d8c"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 5fa08ba893851ba675ea94556f7b302f
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '9,227'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":851250245,"resource_state":2,"external_id":"file.fit","upload_id":942509809,"athlete":{"id":9685944,"resource_state":1},"name":"Morning
        Ride","distance":12904.9,"moving_time":1659,"elapsed_time":1797,"total_elevation_gain":21.0,"type":"Ride","start_date":"2017-01-31T14:45:34Z","start_date_local":"2017-01-31T07:45:34Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.708405,-105.087577],"end_latlng":[39.75132,-104.995809],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.708405,"start_longitude":-105.087577,"achievement_count":8,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a851250245","summary_polyline":"opjqFj|k`SPdCoAvBwLIcAyHoTNe@eFkUSOgpCu[mAD{d@kEqAl@oiAkCu@DodAk\\i@c@sOm`@C_@eLsAi@QqDkFiIa@mFeJkQ{A}NaWaHWeCmIwCq]kBqX}`@_C_FrE{A~Zid@hDqBiA_EgUoYjBo@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":true,"flagged":false,"gear_id":null,"average_speed":7.779,"max_speed":13.5,"average_temp":10.0,"device_watts":false,"has_heartrate":true,"average_heartrate":147.1,"max_heartrate":172.0,"elev_high":1701.0,"elev_low":1567.0,"pr_count":4,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":849984063,"resource_state":2,"external_id":"file.fit","upload_id":941124892,"athlete":{"id":9685944,"resource_state":1},"name":"Afternoon
        Ride","distance":12872.9,"moving_time":1852,"elapsed_time":2146,"total_elevation_gain":118.0,"type":"Ride","start_date":"2017-01-31T00:04:24Z","start_date_local":"2017-01-30T17:04:24Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.751716,-104.995757],"end_latlng":[39.708491,-105.087546],"location_c[...]
