---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/following?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"e6690bc6eb4175d10641b318dc79b739"
      Status:
      - 200 OK
      Strava-Athlete-Following-Version:
      - 4deea74601bdabfd4c05a7a69bb7585c/1485966764532
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '12,230'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":851622613,"resource_state":2,"external_id":"A55E49F3-2970-4613-A7F6-1EE055C491C2","upload_id":942918196,"athlete":{"id":581446,"username":"robbie_smith","resource_state":2,"firstname":"Robbie","lastname":"S","city":"Denver","state":"CO","country":"United
        States","sex":"M","premium":false,"created_at":"2012-06-01T21:13:02Z","updated_at":"2017-02-01T14:28:44Z","badge_type_id":0,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/581446/4472655/2/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/581446/4472655/2/large.jpg","friend":"accepted","follower":"accepted"},"name":"Morning
        Ride","distance":7261.4,"moving_time":1057,"elapsed_time":1146,"total_elevation_gain":17.8,"type":"Ride","start_date":"2017-02-01T14:28:48Z","start_date_local":"2017-02-01T07:28:48Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.77,-105.05],"end_latlng":[39.75,-105.0],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.77,"start_longitude":-105.05,"achievement_count":2,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a851622613","summary_polyline":"k|uqFllc`SbhA?Le]tUXF{hCq@eH{Lma@kCqD\\uDfEsBjYmc@lE_DeAgEiQcW","resource_state":2},"trainer":false,"commute":true,"manual":false,"private":false,"flagged":false,"gear_id":"b193171","average_speed":6.87,"max_speed":13.4,"average_watts":103.7,"kilojoules":109.6,"device_watts":false,"has_heartrate":false,"elev_high":1665.0,"elev_low":1577.0,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"workout_type":10},{"id":851173748,"resource_state":2,"external_id":"1FBA382B-B7FF-4A78-9B6D-AFC001F6F60A","upload_id":942407178,"athlete":{"id":581446,"username":"robbie_smith","resource_state":2,"firstname":"Robbie","lastname":"S","city":"Denver","state":"CO","country":"United
        States","sex":"M","premium":false,"created_at":"2012-06-01T21:13:02Z","updated_at":"2017-02-01T14:28:44Z","badge_type_id":0,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/581446/4472655/2/medium.jpg","[...]
