<div class="wrapper">
  <h1 class="text-center">My Friends' Activities</h1>

  <hr class="divider" />

  <% @activities.each do |activity| %>
    <div class="list-group">
      <%= link_to activity.name, activity_path(activity.id), class: "list-group-item" %>
      <div class="list-group">
        <div class="list-group-item">
          <p class="list-group-item-text">Distance (miles)</p>
          <h4 class="list-group-item-heading"><%= in_miles(activity.distance) %></h4>
          <p class="list-group-item-text">Activity</p>
          <h4 class="list-group-item-heading"><%= activity.type %></h4>
          <p class="list-group-item-text">Date</p>
          <h4 class="list-group-item-heading"><%= display_time(activity.start_date_local) %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
