---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/851250245?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"3d417b472d4088fde56af0c5862aecd4"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '10,50'
    body:
      encoding: ASCII-8BIT
      string: '{"id":851250245,"resource_state":3,"external_id":"file.fit","upload_id":942509809,"athlete":{"id":9685944,"resource_state":1},"name":"Morning
        Ride","distance":12904.9,"moving_time":1659,"elapsed_time":1797,"total_elevation_gain":21.0,"type":"Ride","start_date":"2017-01-31T14:45:34Z","start_date_local":"2017-01-31T07:45:34Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.708405,-105.087577],"end_latlng":[39.75132,-104.995809],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.708405,"start_longitude":-105.087577,"achievement_count":8,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a851250245","polyline":"opjqFj|k`STA?dBC`@SZe@jAUNwLIOYCWCkCAe@Ee@K_@WO[C_@FiAJkAD}LC_@ASSC_@BeAAkAO_@[Ea@D}@BeLAaC@YCMSDyC@qJDaB@aDDaACYAeHBeDGcEAqMEwE?sLCcN@uHC{C?eCC{C?iMIkHc@g@i@FkABqF@gNAYMGc@?eDFuE?iDB_EAi@CkLGc@[Q_@A{AD[EOYBgAD{IHu@D_AAkDDqNAwIL{CEkKBoEDgAMYqAB]EMYFwF@cKByD@UE_HDoJBaJGsIE]WOq@DWAs@@UASKWIkFCqCDyFAcAAWEGYCa@BsCAkGCWU_@kHJ_I?kBEq@DoE?}@@UQDqCCi@UiAEe@EyBSYc@@[QKi@?yAEm@Wa@c@Ss@a@KOoBaFMg@Gi@K{CQ[UW}@kBUmAKOOK_@IYYa@{BSc@iAyASc@Mg@Ck@@sAIg@Qe@Me@AqAQmACa@I_@{Aw@_Ck@yASwEoA{Bw@wBa@OW@YFc@A]OQWK}@SuAu@aDaAa@E_A?aAB}@C]C[Kq@E}AHaAG_AU{AS}@CgC?_@A_AQa@Oy@m@Wa@Mc@SkAOc@S_@m@y@uByDi@u@o@m@U[aAuAgAgBgBaCw@{@gAq@SWi@cAK[SYe@e@Q]@a@^M\\E|Ac@v@c@d@y@|B{CvA_Cb@y@hBqCfCkDx@wAZ[\\k@vDcF`AwAv@m@x@Wh@ULU?_@Gk@Yw@g@{@sBiCc@q@mA_BOQWO}@wAUg@i@eA_BqBcBiBO[OQgAo@OQNWz@JTIHY","resource_state":3,"summary_polyline":"opjqFj|k`SPdCoAvBwLIcAyHoTNe@eFkUSOgpCu[mAD{d@kEqAl@oiAkCu@DodAk\\i@c@sOm`@C_@eLsAi@QqDkFiIa@mFeJkQ{A}NaWaHWeCmIwCq]kBqX}`@_C_FrE{A~Zid@hDqBiA_EgUoYjBo@"},"trainer":false,"commute":false,"manual":false,"private":true,"flagged":false,"gear_id":null,"average_speed":7.779,"max_speed":13.5,"average_temp":10.0,"device_watts":false,"has_heartrate":true,"average_heartrate":147.1,"max_heartrate":172.0,"elev_high":1701.0,"elev_low":1567.0,"pr_count":4,"total_photo_count":0,"has_kudoed":false,"workout_type":null,"description":null,"calories":0,"segment_efforts":[{"id":20746445998,"resource_state":2,"name":"heading
        home","activity":{"id":851250245,"resource_state":1},"athlete":{"id":9685944,"resource_state":1},"elapsed_time":164,"moving_time":164,"start_date":"2017-01-31T14:51:49Z","start_date_local":"2017-01-31T07:51:49Z","distance":1506.9,"start_index":375,"end_index":539,"device_watts":false,"average_heartrate":150.0,"max_heartrate":157.0,"segment":{"id":2998001,"resource_state":2,"name":"heading
        home","activity_type":"Ride","distance":1510.61,"average_grade":-1.0,"maximum_grade":0.0,"elevation_high":1660.2,"elevation_low":1645.2,"start_latlng":[39.718406070023775,-105.08092344738543],"end_latlng":[39.71849240362644,-105.06334031000733],"start_latitude":39.718406070023775,"start_longitude":-105.08092344738543,"end_latitude":39.71849240362644,"end_longitude":-105.06334031000733,"climb_category":0,"city":"Lakewood","state":"CO","country":"United
        States","private":false,"hazardous":false,"starred":false},"kom_rank":null,"pr_rank":1,"achievements":[{"type_id":3,"type":"pr","rank":1}],"hidden":false},{"id":20746446001,"resource_state":2,"name":"6th-8th
        ","activity":{"id":851250245,"resource_state":1},"athlete":{"id":9685944,"resource_state":1},"elapsed_time":39,"moving_time":39,"start_date":"2017-01-31T15:02:47Z","start_date_local":"2017-01-31T08:02:47Z","distance":326.8,"start_index":1033,"end_index":1072,"device_watts":false,"average_heartrate":160.0,"max_heartrate":164.0,"segment":{"id":13358454,"resource_state":2,"name":"6th-8th
        ","activity_type":"Ride","distance":[...]
