<div class="wrapper">
  <h1 class="text-center">Not All Who Wander Are Lost</h1>
  <hr class="divider" />
  <br />
  <p class="text-center">
    Are you really looking for '/<%= @typed_url %>' ?
  </p>
  <br />
  <h4 class="text-center">
    Perhaps check out your <%= link_to "Activities", activities_path %>
  </h4>
</div>
